<%
  let checkmarkText = function(status){
    status = status || false;
    let text = "check_box_outline_blank";
    if(status){
      text = "check_box";
    }
    return text;
  };
%>
<div class='header'>
  <h1><%- list.meta.name %> <a href='#' class='listr-button tiny add-todo' data-list-id='<%- list.meta.listID %>'>Add Todo</a></h1>
</div>
<div class='content'>
  <div class='list-todos'>
    <ul class='list-group todo-table'>
      <%
        for(let todoIndex in sortedTodos){
          let todo = sortedTodos[todoIndex];
      %>
      <li data-row-id='<%- todo.meta.id %>' class='list-item todo-row todo-complete-<%-todo.meta.isComplete %>'>
        
        <div class='todo-checkbox-td'>
            <i class="material-icons todo-checkbox"><%- checkmarkText(todo.meta.isComplete) %></i>
        </div>
        <div class="todo-task" id='<%- todo.meta.id %>'>
          <div>
            <input type='text' class='todo-input' value='<%- todo.task %>'>
          </div>
        </div>
        <div class='todo-drag-td' data-sort-order='<%- todo.meta.sortOrder %>'>
          <i class="material-icons todo-drag draggable-source">drag_handle</i>
        </div>
      </li>
      <%
        }
      %>
      </ul>
  </div> 
</div>
